* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
    --azul: #050225;
    --roxo: #5e17eb;
    --roxoEsc: #4713af;

}

.avatar{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

/*body{
    background: linear-gradient(135deg, var(--azul) 0%, var(--roxoMEsc) 40%, var(--roxo) 100%);
    color: var(--azul);
    min-height: 100vh;   /* altura mínima, mas pode crescer 
    display: flex;
    justify-content: center;
}*/

body {
    background: linear-gradient(135deg, var(--azul) 0%, var(--roxoMEsc) 40%, var(--roxo) 100%);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 40px 20px;
}

body::before, body::after {
    content: '';
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    filter: blur(150px);
    z-index: 0;
}

body::before {
    background: rgba(94, 23, 235, 0.4); /* roxo neon suave */
    top: -200px;
    left: -200px;
}

body::after {
    background: rgba(5, 2, 37, 0.4); /* azul profundo */
    bottom: -200px;
    right: -200px;
}
     
.container {
    max-height: 90vh;   /* limita a altura do container */
    overflow-y: auto;   /* cria barra de rolagem dentro dele */
}


.input{
    background-color: rgb(213, 213, 213);
    border-radius: 12px;
    border: none;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    outline-color: #1f1f55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.bio{
    background-color: rgb(213, 213, 213);
    border-radius: 12px;
    border: none;
    width: 400px;
    height: 100px;
    padding-left: 10px;
    outline-color: #1f1f55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize: none;
    
}
.salvar-btn {
    padding: 15px 20px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: var(--roxo);
    color: white;
    transition: all 0.4s ease;
    width: 100%;
    margin-top: 10px;
}

.salvar-btn:hover {
    background: var(--azul);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;

}

/* botão add foto */
.btnImg {
    position: absolute;
    bottom: 20px;
    right: 50px;
    background: var(--roxo);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btnImg:hover {
    background: var(--azul);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}


label.fontelabel {
    display: block;
    color: #ffffff;
    font-weight: 500;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
}


